body {
    font-family: Arial, sans-serif;
    
  }
  
  .container, .container-1 {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 5px;
  }
  .container-1 {
      width: max-content;
  }
  
  h1 {
    text-align: start;
  }
  h5 {
    color: #8a8989;
}
a {
    text-transform: capitalize;
    text-decoration: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  input {
      border: 0px;
  }
  input:focus {
    outline: none;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 35px;
    margin-top: 15px;
    border-bottom: 1px solid ghostwhite;
  }
  
  .input-group input {
    padding-left: 35px;
  }
  
  .iconify {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #bbb;
  }
  .background-image, img {
    max-width: 30rem;
    height: 100%;
    float: left;
    width: 100%;
  }
  
  .remember, .agreement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
  }
  
  
  .forgot-password {
    text-align: right;
    position: relative;
    top: -1.95rem;
  }
  
  button {
    background-color: #0c0c0c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
/* filp page */
.container-1 {
    display: none;
}

.hide {
    display: none;
}
.show {
    display: block;
}

/* media query for mobile */
@media(min-width:30rem)  {
  body {
    display: flex;
    justify-content: center;
  }
  
}

/* media query for desktop */
@media(min-width:1440px)  {
  body {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .background-image, img {
    max-width: 100%;
    align-self: center;
    max-height: 10%;
  }
  
}